@import url("https://fonts.googleapis.com/css?family=Roboto:400,700|Share+Tech+Mono&display=swap");

// font-family: 'Share Tech Mono', monospace;
// font-family: 'Roboto', sans-serif;

html,
body {
  font-family: "Roboto", sans-serif;
}

button:focus {
  outline: 0;
}

.container {
  margin: 0 auto;
  max-width: 1680px;
  width: 100%;
}
