@mixin create-line {
  content: "";
  opacity: 0.15;
  display: block;
  position: absolute;
  width: 15vw;
  height: 0.1em;
  top: 39%;
  border-top: 1px solid $dark-bg;
  border-bottom: 1px solid $dark-bg;
}

@mixin create-square {
  content: "";
  display: block;
  background-color: $primary-bg;
  border: 1px solid $primary-bg;
}

@mixin create-medium-square {
  @include create-square;
  opacity: 0.6;
  width: 0.2em;
  height: 0.2em;
}

@mixin create-small-square {
  @include create-square;
  opacity: 0.3;
  width: 0.1em;
  height: 0.1em;
}

.header {
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 1024px) {
    font-size: 1.4rem;
  }

  &::before {
    @include create-line;
    right: 220px;
  }

  &::after {
    @include create-line;
    left: 220px;
  }

  .header-text {
    &.header-text--primary {
      color: $primary-text;
    }
    &.header-text--secondary {
      color: $secondary-text;
    }
    &.header-text--dark {
      color: $dark-text;
    }
  }

  .header-square {
    position: absolute;
    top: 30%;
    display: inline-block;
    background-color: $primary-bg;
    border: 1px solid $primary-bg;
    width: 0.3em;
    height: 0.3em;
    transform: rotate(45deg);
    &:nth-child(1) {
      left: -7%;
      &::before {
        @include create-medium-square;
        transform: translate(-5px, 5px);
      }
      &::after {
        @include create-small-square;
        transform: translate(-7px, 3px);
      }
    }
    &:nth-last-child(1) {
      right: -7%;
      &::before {
        @include create-medium-square;
        transform: translate(5px, -5px);
      }
      &::after {
        @include create-small-square;
        transform: translate(9px, -13px);
      }
    }
  }
}
