$primary-text: #00a99c;
$secondary-text: #e4e4e4;
$dark-text: #383838;
$medium-text: #5e5e5e;
$light-text: #7a7a7a;
$danger-text: crimson;

$primary-bg: #01a89e;
$dark-bg: #383838;
$light-bg: #f9f9f9;
